<div id="list-category">
	<!-- タイトル文言 -->
	<h3><%=h l(:field_numbering_partner) %></h3>
	<% if (@numbering_partners.blank?) %>
		<p class="nodata"><%= l(:label_no_data) %></p>
	<% else %>
		<table class="list">
			<thead>
				<th><%=h l(:field_identifier)%></th>
				<th><%=h l(:field_disp_name)%></th>
			</thead>
			<tbody>
				<% @numbering_partners.each do |i| %>
					<!-- 以下クラス指定はRedmine特有。1行づつ色が変わります. -->
					<tr class="<%= cycle('odd', 'even') %>">
						<td><%= i.identifier %></td>
						<td><%= i.disp_name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
