<!--　右上のボタン設定  -->
<div class="contextual">
    <%= link_to_if_authorized(l(:label_numbering_new), 
                        {:action => 'new', :project_id => @project}, 
                        :class => 'icon icon-add') %>
    <!-- controllerで権限を判定しているのでcontrollerを明示的に設定する -->
    <%= link_to_if_authorized(l(:label_numbering_parameter_edit), 
                        {:action => 'index', :project_id => @project, :controller => 'numbering_prefixes'}, 
                        :class => 'icon icon-edit') %>
</div>

<!-- タイトル文言 -->
<h2><%=h l(:label_numbering_document_list) %></h2>

<% if (@numbering_items.blank?) %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <!-- 登録された採番一覧を表示  -->
    <table class="list">
        <thead>
            <th><%=h l(:field_assigned)%></th>
            <th><%=h l(:field_project)%></th>
            <th><%=h l(:field_numbering_category)%></th>
            <th><%=h l(:field_numbering_kind)%></th>
            <th><%=h l(:field_numbering_partner)%></th>
            <th><%=h l(:field_document)%></th>
            <th><%=h l(:field_publisher)%></th>
            <th><%=h l(:field_published_day)%></th>
            <th></th>
        </thead>
        <tbody>
            <% @numbering_items.each do |item| %>
                <tr class="<%= cycle('odd', 'even') %>">
                    <% if @numbering_categories[item.numbering_category_id].blank? ||
                          @numbering_kinds[item.numbering_kind_id].blank? ||
                          @numbering_partners[item.numbering_partner_id].blank? %>
                      <td align="center">----</td>
                    <% else %>
                      <td align="center">
                        <%=(@numbering_categories[item.numbering_category_id].identifier + 
                           @numbering_kinds[item.numbering_kind_id].identifier + 
                           @numbering_partners[item.numbering_partner_id].identifier +
                              item.created_on.to_s[2,2] +
                              format("%03d", item.number) )%>
                      </td>
                    <% end %>                                
                    <td align="center"><%=item.project_name %></td>
                    <% if @numbering_categories[item.numbering_category_id].blank? %>
                      <td align="center">----</td>
                    <% else %>
                      <td align="center"><%=@numbering_categories[item.numbering_category_id].disp_name %></td>
                    <% end %>
                    <% if @numbering_kinds[item.numbering_kind_id].blank? %>
                      <td align="center">----</td>
                    <% else %>
                      <td align="center"><%=@numbering_kinds[item.numbering_kind_id].disp_name %></td>
                    <% end %>
                    <% if @numbering_partners[item.numbering_partner_id].blank? %>
                      <td align="center">----</td>
                    <% else %>
                      <td align="center"><%=@numbering_partners[item.numbering_partner_id].disp_name %></td>
                    <% end %>
                    <td align="center"><%=item.document %></td>
                    <td align="center"><%=item.publisher %></td>
                    <td align="center"><%=format_time(item.created_on, true) %></td>
                    <td align="center"><%=link_to l(:label_numbering_details), project_numbering_item_path(@project, item), :class => 'icon icon-report'%></td>
                </tr>   
            <% end %>
        </tbody>
    </table>
<% end %>
